<!DOCTYPE html>
<html>
    <head>
        <title>Budget Application</title>
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'script.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class = "container">
        <h1>Budget Application</h1>
                
        <div class = "row">
        <div class = "col col-lg-2">
        {% for cat in categories %}
        <h4 id = "categoryToDelete" value = "{{cat.name}}">{{cat.name}} : {{cat.remaining}}/{{cat.budget}}</h4>
        <button id = "deleteCat" value = "{{cat.name}}" onclick = "deleteCategory('{{cat.name}}')" >Delete Category</button>
            {% endfor %}  
        </div>
        <div class = "col col-lg-2">   
        <h2>Add Category:</h2>
        <form name ="category-form">
            <input type = "text" id = "newCategory" name = "" value = ""/>
            <input type = "button" id = "catButton" value = "Add">
        </form><br/>
        </div>
        <div class = "col col-lg-2">               
        <h2>Add Purchase:</h2>
        <form name = "purchase-form">
            Category: <select name = "purchase_cats">           
                {% for cat in categories %}
                <option id = 'purchaseCat' value = '{{cat.name}}'>{{cat.name}}</option>
                {% endfor %}
            </select>
            Purchase: <input type = "text" id = "newPurchaseName" name = "" value = ""/><br/><br/>
            Amount spent: <input type = "text" id ="newPurchaseAmount" name = "" value= ""/><br/><br/>
            Date: <input type = "date"><br/><br/>
            <input type = "button" id = "purchaseButton" value = "Add">
        </form>
        </div>
        </div>

    </div>
    </body>
</html>